.button-height {
    height: 20;
}

.padding-right {
    padding-left: 16px;
}

.form__input {
    color: #333;
    font-size: 1.5rem;
    margin: 10px auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(231, 231, 231);
    border: none;
    width: 50%;
    border-radius: 10px;

    text-align: center;
}

.graphicLabelFlex {
    display: flex;
    flex-direction: column;
}