.circle {
    /* display: flex; */
    width: 25px;
    height: 25px;
    background-color: rgb(14 116 144);

    border-radius: 50%;

    margin: 5px;
}

.wrap-circle {
    display: flex;
    flex-wrap: wrap;

    background-color: rgb(194, 194, 194);
    border-radius: 20px;
}


ion-modal#example-modal {
    --height: 30%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal#example-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}

ion-modal#example-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
}

ion-toolbar {
    /* --background: url(https://wallpaperaccess.com/full/825334.jpg); */
    --background: url(../images/pubgAppbar.png) center;
    --object-fit: cover;
}

.containerR {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    height: 50px;
    object-fit: cover;
}

.center {
    position: absolute;
    top: 25%;
    color: white;
    left: 10px;

}